*{
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-abjust: 100%;
	-moz-text-size-abjust: 100%;
	-webkit-text-size-abjust: 100%;
}

input,button,textarea {
	font-family: inherit;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.title {
	font-family: "Arial";
	font-size: 35px;
	line-height: 24px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -0.025em;
}
.subtitle {
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;
}

/* HEADER */

.header {
	margin: 22px 0 23px 0;
}
.header__inner {
	display: flex;
	justify-content: space-between;
}
.header__inner-logo {
}
.header__inner-nav {
	margin: auto 0;
}
.header__inner-nav a {
	padding: 12px 21px;
	font-family: "Lato";
	font-size: 13.5px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #868686;
	transition: .2s;
}
.header__inner-nav a:hover {
	background-color: #ffbb42;
	color: #fff;
	border-radius: 3px;
}
/* INTRO */

.intro {
	background-color: #709dca;
	height: 590px;
}
.intro__inner {
}
.intro__inner-body {
	padding: 110px 0 33px 0;
	text-align: center;
	color: #fff;
}
.intro__inner-body-title {
	padding: 0 0 15px 0;
}
.intro__inner-body-subtitle {
	font-weight: 300;
}
.intro__inner-form {
	display: flex;
	justify-content: center;
}
.intro__inner-form-column {
	font-family: 'Open Sans';
	line-height: 1.2;
}
.intro__inner-form-column button {
	padding: 15px 43px;
	background-color: #ffbb42;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
}
.intro__inner-form-column input::placeholder {
	font-size: 13px;
	color: #a9a9a9;
}
.intro__inner-form-column input {
	margin: 0 10px 0 0;
	padding: 0 0 0 41px;
	width: 281px;
	height: 46px;
	border-radius: 3px;
	color: #a9a9a9;
}
.intro__inner-form-column input:nth-child(1) {
	background: url(../IMG/icons/imgform_1.png) 15px no-repeat #fff;
}
.intro__inner-form-column input:nth-child(2) {
	background: url(../IMG/icons/imgform_2.png) 15px no-repeat #fff;
}
.intro__inner-form-column input:nth-child(3) {
	background: url(../IMG/icons/imgform_3.png) 15px no-repeat #fff;
}
.intro__inner-image {
	padding: 67px 0 0 0;

	text-align: center;
}
.intro__inner-image-laptop {
	max-width: 637px;
}
.intro__inner-image-laptop img {
	width: 100%;
}
.intro__inner-image-laptop-img {
	max-width: 445px;
	max-height: 264px;
}
.intro__inner-image-laptop-img img {
	width: 100%;
	height: 100%;
}
.intro__inner-image-slider {
	text-align: center;
}
.intro__inner-image-slider div {
	margin: 22px 0 0 0 ;
	padding: 0 3px;
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 2px solid #dedfe0;
	border-radius: 50%;
	transition: .2s;
}
.intro__inner-image-slider div:hover {
	border: 2px solid #1ca8dd;
}

/* SERVICE */

.service {
}
.service__inner {
}
.service__inner-body {
	margin: 203px 0 93px 0;
	text-align: center;
	color: #394b50;
}
.service__inner-body-title {
	font-size: 30px;
	line-height: 22px;
	padding: 0 0 10px 0;
}
.service__inner-body-subtitle {
	font-weight: 400;
}

	/* SERVICE COLUMNS */

.service__inner-columns {
	flex-wrap: wrap;
	display: flex;
	margin: 0px -38px;
}
.service__inner-columns-column {
	flex: 0 1 50%;
	padding: 0 38px;
}
.service__inner-columns-column-item {
}

.service__inner-columns-column-item-row {
	display: flex;
}
.service__inner-columns-column-item-row-img {
	flex: 0 0 /* width img*/;
}
.service__inner-columns-column-item-row-body {
	flex: 1 1 auto;
	padding: 0 0 79px 82px;
}
.service__inner-columns-column-item-row-body-title {
	margin: 0 0 21px 0;
	font-family: "Lato";
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #394b50;
}
.service__inner-columns-column-item-row-body-text {
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 22px;
	color: #7b7b7b;	
}

/* ABOUT */

.about {
	margin: 76px 0 0 0;
	background-color: #ffc155;
	display: flex;
	height: 623px;
}
.about__img {
	width: 50%;
}
.about__inner {
	width: 850px;
}

.about__inner-body {
	color: #ffffff;
	margin: 164px 0 0 40px;
}
.about__inner-body-title {
	
	font-size: 30px;
	line-height: 22px;
	margin: 0 0 28px 0;
}
.about__inner-body-text {
	width: 510px;
	height: 160px;
	font-family: 'Open Sans';
	line-height: 24px;
	font-size: 13px;	
	margin: 0 0 50px 0;
}
.about__inner-body-btn a {
	font-family: "Lato";
	line-height: 1.2;
	text-transform: uppercase;
	color: #ffffff;
	border: 1px solid #e7ad48;
	padding: 17px 33px 19px 32px;
}

/* VERTICAL */

.vertical {
	background-color: #e7edf3;
}
.vertical__inner {
	
}
.vertical__inner-body {
	padding: 137px 0 0 0;
	text-align: center;
}
.vertical__inner-body-title {
	font-size: 30px;
	line-height: 22px;
	color: #394b50;
}
.vertical__inner-body-subtitle {
	padding: 10px 0 0 0;
	font-family: "Lato";
	font-size: 18px;
	font-weight: 300;
	color: #75888d;
}
.vertical__row {
	justify-content: center;
	display: flex;
	padding: 0 0 164px 0;

}
.vertical__column {
	justify-content: center;
	flex: 0 1 33.333%;
	display: flex;
	border-radius: 3px;
}
.vertical__column-1 {
	background-color: #709dca;
	padding: 87px 0 94px 0;
	margin: 49px 0 0 0;
	color: #ffffff;
}
.vertical__column-2 {
	border: 1px solid #ccd5df;
	margin: 79px 0 30px 0 ;
	background-color: #fff;
	padding: 57px 0 48px 0;
	color: #818b95;
}
.vertical__item {
	font-family: "Lato";
	text-align: center;
	text-transform: uppercase;
}
.vertical__title {
	font-size: 25px;
	line-height: 22px;
	font-weight: 300;
	margin: 0 0 30px 0;
}
.vertical__price {
	margin: 0 0 50px 0;
}
.vertical__price p {
	font-size: 60px;
	line-height: 22px;
	font-weight: 700;
	margin: 0 0 10px 0;
}
.vertical__price br {
	font-size: 13.5px;
}
.vertical__info {
	margin: 0 0 35px 0;
}
.vertical__info p {
	border-top: 1px solid #8eb8e2;
	width: 330px;
	font-size: 13.5px;
	line-height: 40px;
	color: #c2e1ff;
}
.vertical__title-2 {
	font-size: 25px;
	line-height: 22px;
	font-weight: 300;
	margin: 0 0 30px 0;
}
.vertical__price-2 {
	margin: 0 0 50px 0;
}
.vertical__price-2 p {
	color: #ffbb42;
	font-size: 60px;
	line-height: 22px;
	font-weight: 700;
	margin: 0 0 10px 0;
}
.vertical__price-2 br {
	font-size: 13.5px;
}
.vertical__info-2 {
	margin: 0 0 35px 0;
}
.vertical__info-2 p {
	border-top: 1px solid #e2e9f0;
	width: 330px;
	font-size: 13.5px;
	line-height: 40px;
	color: #b5bbc1;
}
.vertical__btn {
	padding: 16px 21px;
	border-radius: 3px;
	background-color: #ffbb42;
	color: #fff;
	transition: .2s;
}
.vertical__btn:hover {
	box-shadow: 0 0 0 2px #ffbb42;
}

/* WORK */

.work {
	font-family: "Lato";
}
.work__inner {
}
.work__body {
	margin: 155px 0 110px 0;
	text-align: center;
	color: #394b50;
}
.work__title {
	font-size: 30px;
	line-height: 22px;
	margin: 0 0 10px 0;
}
.work__subtitle {
	font-size: 18px;
	font-weight: 300;
}
.work__row {
	display: flex;
	justify-content: space-between;
}
.work__column {
	flex: 0 1 25%;
	margin: 0 0 108px 0;
}
.work__column-2 {
	margin: -5px 0 0 0 ;
}
.work__item {
	text-align: center;
	width: 215px;
}
.item__row {
}
.item__img {
	margin: 0 0 100px 0;
}
.item__img-4 {
	margin: 0 0 94px 0;
}
.item__body {
	line-height: 22px;
}
.item__title {
	margin: 0 0 28px 0;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #394b50;
}
.item__text {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #7b7b7b;
}
.work__btn {
	text-align: center;
	margin: 0 0 168px 0;
}
.work__btn a {
	border-radius: 3px;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #ffffff;
	padding: 17px 28px;
	background-color: #ffbb42;
	transition: .2s;
}
.work__btn a:hover {
	box-shadow: 0 0 0 2px #ffbb42;
}

/* CLIENTS */

.clients {
	background-color: #ffc155;
	padding: 0 0 140px 0;
}
.clients__body {
	padding: 141px 0 0 0;
	text-align: center;
	color: #fff;
	margin: 0 0 58px 0;
}
.clients__title {
	font-size: 30px;
	line-height: 22px;
	margin: 0 0 10px 0;
}
.clients__subtitle {
	font-weight: 400;
}
.clients__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px 0 0;
}
.clients__column {
	padding: 0 18px;
	margin:	0 0 20px 0;
	flex: 0 1 50%;
}
.clients__item {
	background-color: #fff;
	padding: 43px 41px 0 30px;
}
.clients-item__row {
	display: flex;
}
.clients-item__img {
}
.clients-item__body {
	margin:  0 0 51px 31px;
	line-height: 22px;
}
.clients-item__text {
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 22px;
	color: #7b7b7b;
	margin: 0 0 29px 0;
}
.clients-item__author {
	display: flex;
	margin: 0 0 0 2px;
	font-family: "Lato";
	text-transform: uppercase;
}
.clients-item__author p:first-child {
	color: #f6772c;
}
.clients-item__author p:last-child {
	color: #99a9ae;
}

/* CONTACT */

.contact__inner {
	text-align: center;
}
.contact__inner-body {
	margin: 154px 0 38px 0;
	color: #394b50;
}
.contact__inner-body-title {
	font-size: 30px;
	line-height: 22px;
	margin: 0 0 10px 0;
}
.contact__inner-body-subtitle {
}
.contact__inner-form {

}
.contact__inner-form-column {
}

.contact__inner-form-column input {
	margin: 0 10px 0 0;
	padding: 16px 0 16px 46px;
	font-family: 'Open Sans';
	border: 1px solid #cbcbcb;
	border-radius: 3px;
	color: #a9a9a9;
}
.contact__inner-form-column input::placeholder {
	color: #a9a9a9;
}
.contact__inner-form-column input:nth-child(1){
	background: url(../IMG/icons/imgform_1.png) no-repeat 17px ;
	width: 308px;
}
.contact__inner-form-column input:nth-child(2) {
	background: url(../IMG/icons/imgform_2.png) no-repeat 17px ;
	width: 388px;
}
.contact__inner-form-column button {
	padding: 19px 52px 18px 53px;
	background-color: #ffbb42;
	border-radius: 3px;
	font-family: "Lato";
	line-height: 1.2;
	text-transform: uppercase;
	color: #ffffff;
}
.contact__inner-img {
	margin: 53px 0 57px 54px;
	padding: 0 0 57px 0;
	width: 1102px;
	height: 549px;
	background-image: url(../IMG/contact_bg.png);
}
.contact__inner-img-body {					
	margin: 0 auto;
	width: 285px;
	padding: 68px 71px 70px 72px;
	background-color: #394b50;
	border-radius: 50%;
}
.contact__inner-img-body-title {
	font-family: "Lato";
	font-size: 15px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
.contact__inner-img-body-text {
	margin: 15px 0 0 0;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #aeb7ba;
}
.contact__inner-img-triange {
	margin: -3px auto 0 auto;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #394b50;
}
.contact__inner-img-logo {
	margin: 3px 0 0 0;
}
.contact__inner-img-body-text p:last-child {
	color: #ffbb42;
}
.contact__inner-img-nav {
	border-top: solid 1px #e3e7ec;
	padding: 68px 0 0 0;
}
.contact__inner-img-nav a {
	margin: 0 0 0 35px;
	font-family: "Lato";
	font-size: 13px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #394b50;
	transition: .2s;
	border-radius: 3px;
}
.contact__inner-img-nav a:hover {
	padding: 12px 21px;
	background-color: #ffbb42;
	color: #fff;
}
.contact__inner-img-number {
	text-align: center;
	margin: 31px 0 23px 0;
	font-family: "Lato";
	font-size: 22.6px;
	color: #394b50;
	background: url(../IMG/icons/imgform_3.png) 490px no-repeat;
}
.contact__inner-img-networks {
	margin: 0 0 53px 0;
}
.contact__inner-img-networks a {
	margin: 0 0 0 17px;
}
/* FOOTER */

.footer {
	background-color: #709dca;
}
.footer__inner {
	display: flex;
	height: 45px;
	justify-content: center;
	align-items: center;
}
.footer__inner-text {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #ffffff;
}